/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    text-align: center;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}

img{
    height: 200px;
    width: 200px;
    border-radius: 180px;
}

a:hover {
    background-color: #7560df;
    color: white;
  }

/* Rock Paper Scizzor Game */

#my-option, #rival-option{
    height: 150px;
    width: 150px;
    margin-top: 20px;  
}

/* Initially giving them background color to make it recognizable*/
#my-option {
    background-color: yellow; 
}

#rival-option {
    background-color: red;
}

#options {
    height: 100px;
    width: 300px;
    margin-top: 20px;
    margin: 0 auto;
}

#options img {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
}

/* Tic Tac Toe Game */

#panel {
    height: 500px;
    width: 500px;

    /* To make it center */
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.tile {
    height: 150px;
    width: 150px;
    font-size: 100px;

    /* To make it center */
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-line {
    border-bottom: 3px solid black;
}

.vertical-line {
    border-right: 3px solid black;  
}